*{
    padding: 0;
    transition: all 1s ease;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main{
    background-color: #a3b18a;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#panel{
    width: 80%;
    height: 80%;
    border-radius: 5px;
    background-color: #dad7cd;
    overflow: hidden;
}
#topPanel{
    width: 100%;
    height: 80px;
    background-color: #344E41;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0  20%;
    color: #fff;
}
.elem{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    color: #344E41;
    font-weight: 700;
}

#mainPanel{
    width: 100%;
    height: calc(100% - 80px);
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
}

.bubble{
    background-color: #344E41;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cec6c6;
    font-weight: 700;
    font-size: 22px;
}
.bubble:hover{
    cursor: pointer;
    background-color: #2f463c;
}
#popUp{
    top: -100%;
    color: #fff;
left: 0;
/* transform: translateX(-50%); */
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
position: absolute;
background-color: #588157;
/* border-radius: 30px; */
transition: all ease 1s;
}

#newGame{
    width: 80%;
    padding: 10px ;
    background-color: #2f463c;
    border: none;
    border-radius: 10px;
    color: #dad7cd;
    font-size: 20px;
    transition: all ease 0.5s;
}
#newGame:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#startGame{
    margin-top: 150px;
    width: 50%;
    height: 50px;
    background-color: #588157;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 30px;
}

#startGame:hover{
    background-color: #2f463c;
    transition: all ease .5s;
    cursor: pointer;
}

#welcome{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 0;
    background-color: #344E41;
    transition: all ease 1s;
}

#welcome> h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #cec6c6;
}
#welcome>P{
    font-size: 25PX;
    color: #dad7cd;
    
}
